/* --OVERVIEW */

#overview-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#overview {
	display: flex;
	justify-content: space-evenly;
	/* background-color: #F5DCE0; */
	background-color: #F5F5F5;
	width: 75%;
	font-family: monospace;
	border: 2px dashed red;
}

#overview-right {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 60%;
	background-color: powderblue;
	padding: 10px;
	border: 5px dotted white;
	margin: 10px;
}

#overview-left {
	display: flex;
	flex-direction: column;
	width: 100%;
	background-color: #F5F5F5;
	padding: 10px;
	border: 5px dotted black;
	margin: 10px;
}

#overview-bottom {
	display: flex;
	justify-content: center;
	padding: 10px;
	/* background-color: #F5DCE0; */
	background-color: rgba(196, 181, 184, 0.53);
	width: 75%;
	font-family: monospace;
	border: 2px dashed rgb(231, 196, 231);
}

/* --image gallery */
#img-gallery {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 500px;
	border: 5px solid red;
}

#main-img-container-arrows {
	display: flex;
	align-items: center;
	height: 500px;
	border: 2px dashed blue;
	background-color: #F5F5F5;
}

#main-img-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border: 5px dashed black;
	height: 475px;
	width: 400px;
	background-color: #F5F5F5;
}

#main-img {
	position: relative;
	overflow: hidden;
}

#main-img:hover {
	cursor: zoom-in;
}

#expanded-main-img {
	width: 100%;
	overflow: hidden;
}

.close-btn {
	position: absolute;
	right: 0;
	top: 0;
}

#img-gallery {
	display: flex;
}

#thumbnail-render {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	/* flex-wrap: wrap; */
	height: 500px;
	width: fit-content;
	background: linear-gradient(#B8B8B8, #DADEDF);
	/* box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(96, 96, 96, 0.35); */
	z-index: 2;
	border: 3px dashed cyan;
}

.thumbnail-arrow-container {
	display: flex;
	justify-content: center;
	background-color: rgba(96, 96, 96, 0.2);
	width: 100%;
}

/* .thumbnail-arrow-container:hover {

} */

#thumbnail-img:hover {
	opacity: 60%;
	background-color: #DCFFFB;
}

#thumbnail-img {
	overflow: hidden;
	flex-grow: 1;
	max-height: 17%;
	padding: 5px;
}

/* --product info */
#product-info {
	border: 2px dashed purple;
}

#price-container {
	display: flex;
}

.social-media-container {
	display: flex;
	justify-content: space-between;
}

#social-media-icon-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#stars-reviews-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.overview-stars {
	--star-size: 1.5em;
  --star-color: rgba(173, 173, 173, 0.685);
  --star-background: rgb(97, 113, 142);

	--percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: var(--star-size);
  font-family: monospace;
  line-height: 1.5;
}

.overview-stars:before {
  content: '★★★★★';
  letter-spacing: 2px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.overview-reviews {
	text-decoration: underline;
}

/* --style selector */
#styles-cart-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	height: 70%;
	border: 5px dashed coral;
}

#styles {
  display: flex;
	width: 400px;
	height: fit-content;
	flex-wrap: wrap;
	padding: 2px;
	border: 3px dashed black;
	margin: 4px;

}

/* .style-container {
	border: 2px solid purple;
} */

/* --add to cart */
#add-to-cart {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 400px;
	height: 100px;
	border: 3px dashed black;
}

.dropdown {
	display: flex;
	justify-content: center;
	width: 200px;
	border: 3px dashed black;
}

.btn {
	color: black;
	font-family: monospace;
	background-color: #fff;
	padding: 5px;
	border-radius: 25px;
}

.cart-btn {
	display: flex;
	justify-content: center;
	width: 200px;
	border: 3px dashed black;
}

#cart {
  background-color: rgba(240, 240, 240);
  border: 1px solid #DFDFDF;
  border-radius: 16px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-family: monospace;
  font-size: 12px;
  justify-content: center;
  line-height: 22px;
  max-width: 100%;
  padding: 10px 18px;
  text-decoration: none;
  transition: all .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

#cart:hover {
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.19);
}

/* --description */
#description-features-container {
	display: flex;
	justify-content: center;
	padding: 10px;
	border: 1px dashed blue;
}

#slogan-description-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 10px;
	width: 60%;
	border: 1px dashed blue;
}

#slogan {
	font-size: 20px;
	font-weight: 300;
}

#description {
	font-size: 15px;
	font-weight: 100;
}

#features-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 10px;
	width: 15%;
	border: 1px dashed blue;
}

#features-title {
	font-size: 20px;
	font-weight: 300;
}

.feature {
	font-size: 15px;
	font-weight: 100;
}