/* --OVERVIEW */

#overview-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#overview {
	display: flex;
	justify-content: center;
	background-color: #fff;
	width: 75%;
	/* border: 2px dashed red; */
}

#overview-right {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 400px;
	background-color: #fff;
	padding: 10px;
	border: 2px solid white;
	margin: 10px;
}

#overview-left {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #fff;
	width: 770px;
	padding: 2px;
	/* border: 5px dotted black; */
	margin: 2px;
}

#overview-bottom {
	display: flex;
	justify-content: center;
	padding: 10px;
	background-color: #fff;
	width: 75%;
	/* border: 2px dashed rgb(231, 196, 231); */
}

/* --image gallery */
#img-gallery {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 500px;
	width: 85%;
	/* border: 5px solid red; */
}

#main-img-container-arrows {
	display: flex;
	align-items: center;
	height: 500px;
	/* border: 2px dashed blue; */
	background-color: #fff;
}

#main-img-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	/* border: 5px dashed black; */
	height: 475px;
	width: 400px;
	background-color: #fff;
}

#main-img {
	position: relative;
	overflow: hidden;
}

#main-img:hover {
	cursor: zoom-in;
}

#img-gallery {
	display: flex;
}

#thumbnail-render {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* flex-wrap: wrap; */
	height: 500px;
	width: fit-content;
	background: linear-gradient(#B8B8B8, #DADEDF);
	/* box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(96, 96, 96, 0.35); */
	z-index: 2;
	/* border: 3px dashed cyan; */
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.thumbnail-arrow-container {
	display: flex;
	justify-content: center;
	background-color: rgba(96, 96, 96, 0.2);
	width: 100%;
}

#thumbnail-img:hover {
	opacity: 60%;
	background-color: #DCFFFB;
}

#thumbnail-img {
	overflow: hidden;
	flex-grow: 1;
	max-height: 17%;
	padding: 5px;
}

/* --expanded view */
#dot-render {
	display: flex;
	position: absolute;
	bottom: 0;
	/* border: 3px dashed cyan; */
}

#filled-dot {
	color: white;
	padding: 2.5px;
}

#empty-dot {
	color: white;
	padding: 2.5px;
}

#expanded-arrows-container{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 90%;
	/* border: 10px dashed purple; */
}

#expanded-img-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 600px;
	height: 800px;
	position: relative;
  overflow-x: hidden;
  overflow-y: auto;
	/* border: 10px dashed pink; */
}

#expanded-main-img {
	width: 100%;
	height: auto;
	object-fit: cover;
	object-position: 50% 50%;
	position: relative;
	overflow: hidden;
	/* border: 3px dashed cyan; */
}

.close-btn {
	position: absolute;
	right: 0;
	top: 0;
}

/* --product info */
#product-info {
	display: flex;
	flex-direction: column;
	width: 100%;
	/* border: 2px dashed purple; */
}

/* display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
height: 70%;
border: 5px dashed coral; */

#category {
	font-family: 'Work Sans', sans-serif;
	font-size: 20px;
	font-weight: 300;
}

#name {
	font-family: 'Tenor Sans', sans-serif;
	font-size: 28px;
}

#price-container {
	display: flex;
}

.price {
	font-family: 'Work Sans', sans-serif;
	font-size: 20px;
	font-weight: 300;
}

.sale {
	font-family: 'Work Sans', sans-serif;
	font-size: 20px;
	font-weight: 300;
}

#social-media-icon-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#stars-reviews-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.overview-stars {
	--star-size: 1.5em;
  --star-color: rgba(173, 173, 173, 0.685);
  --star-background: rgb(97, 113, 142);

	--percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: var(--star-size);
  font-family: monospace;
  line-height: 1.5;
}

.overview-stars:before {
  content: '★★★★★';
  letter-spacing: 2px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.overview-reviews {
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	font-weight: 200px;
	text-decoration: underline;
}

/* --social media */
.social-media-container {
	display: flex;
	justify-content: space-between;
}

#share-look {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Work Sans', sans-serif;
	color: grey;
	font-size: 20px;
	/* border: 2px solid red; */
}

#share-img-container {
	display: flex;
	align-items: center;
	justify-content: center;
	height: fit-content;
	width: fit-content;
	/* border: 5px solid pink; */
}

#share-img {
	width: 250px;
	height: 250px;
	object-fit: cover;
	padding: 2px;
	border: 1px solid black;
	margin: 10%;
}

#social-media-icons {
	display: flex;
	align-items: center;
	justify-content: center;
	/* border: 2px solid darkturquoise; */
}

/* --style selector */
#styles-cart-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: flex-start;
	width: 100%;
	height: 70%;
	margin-top: 2.5%;
	/* border: 5px solid coral; */
}

#styles {
  display: flex;
	width: 400px;
	height: fit-content;
	flex-wrap: wrap;
	padding: 2px;
	/* border: 3px dashed black; */
	margin: 4px;

}

/* comment this shit out  */
.style-container {
	position: relative;
	border-radius: 50%;
	height: 82.5px;
  width: 82.5px;
	border: 1.5px solid rgb(46, 45, 45, 0.7);
	vertical-align: center;
}

#style-title {
	font-family: 'Tenor Sans', sans-serif;
	font-size: 20px;
	font-weight: 400;
}

/* --add to cart */
#add-to-cart {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 350px;
	height: 100px;
	/* border: 1px solid rgb(144, 186, 208); */
}

.dropdown-container {
	display: flex;
	justify-content: space-between;
	width: 300px;
	/* border: 3px dashed black; */
}

.dropdown {
	display: flex;
	justify-content: flex-start;
	width: 180px;
	/* border: 3px dashed cyan; */
}

.btn {
	color: black;
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	font-weight: 400px;
	background-color: #fff;
	padding: 5px;
	margin: 5px;
	border-radius: 25px;
}

#size-guide {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Work Sans', sans-serif;
	font-size: 12px;
	font-weight: 200px;
	text-decoration: underline;
	/* border: 3px dashed cyan; */
}

.cart-btn {
	display: flex;
	justify-content: center;
	width: 200px;
	/* border: 3px dashed black; */
}

#cart {
	font-family: 'Work Sans', sans-serif;
	font-size: 14px;
  background-color: rgb(60, 74, 118, 0.3);
  border: 1px solid #DFDFDF;
  border-radius: 16px;
  box-sizing: border-box;
  color: #000000;
  justify-content: center;
  line-height: 22px;
  max-width: 100%;
  padding: 10px 18px;
  text-decoration: none;
  transition: all .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

#cart:hover {
  background-color: #FFFFFF;
  border-color: rgba(0, 0, 0, 0.19);
}

/* --description */
#description-features-container {
	display: flex;
	justify-content: center;
	padding: 20px;
	/* border: 1px dashed blue; */
	background-color: #fff;
	box-shadow: 1.5px 1.5px 1.5px 1.5px rgba(96, 96, 96, 0.55);
}

#slogan-description-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	padding: 15px;
	width: 60%;
	/* border: 1px dashed blue; */
}

#slogan {
	font-family: 'Tenor Sans', sans-serif;
	font-size: 25px;
	font-style: italic;
	font-weight: 300;
	padding-bottom: 5px;
}

#description {
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
}

#features-container {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: space-between;
	padding: 10px;
	height: fit-content;
	width: fit-content;
	/* border: 1px dashed blue; */
}

#features-title {
	font-family: 'Tenor Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	padding-bottom: 5px;
	/* border: 1px dashed blue; */
}

.checkmark-feature-container {
	display: flex;
	/* border: 1px dashed blue; */
}

.feature {
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
	padding-left: 2px;
	/* border: 1px dashed blue; */
}

/* --footer */
#footer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 720px;
	/* border: 1px dashed blue; */
}

#footer-title {
	font-family: 'Tenor Sans', sans-serif;
	font-size: 20px;
}

#footer-content {
	margin: 10px;
	font-size: 14px;
	/* border: 1px dashed blue; */
}

#footer-icon-container {
	display: flex;
	justify-content: space-evenly;
	width: 250px;
	/* border: 1px dashed blue; */
}

#icon-price-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* border: 1px dashed blue; */

}

.icon-description {
	font-weight: 300;
	/* border: 1px dashed blue; */
}