/* Meyer CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, h1 {
	display: block;
}

html {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#app-logo {
  width: 300px;
  padding: 2em;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root {
  --star-size: 2em;
  --star-color: rgba(173, 173, 173, 0.685);
  --star-background: rgb(97, 113, 142);

  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}

.Stars:before {
  content: '★★★★★';
  letter-spacing: 1px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.page-nav {
  display: flex;
  position: relative;
  width: 100%;
}

.link-outer-container {
  display: flex;
  width: 58.75%;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: rgb(109, 109, 109);
  /* border: 2px solid cyan; */
}

.link-inner-container {
  display: flex;
  width: fit-content;
  background-color: rgb(109, 109, 109);
  /* border: 2px solid red; */
}

.nav-icon-outer-container {
  display: flex;
  width: 41.25%;
  align-items: flex-end;
  justify-content: flex-end;
  background-color: rgb(109, 109, 109);
  /* border: 2px solid cyan; */
}

.nav-icon-inner-container {
  display: flex;
  width: fit-content;
  background-color: rgb(109, 109, 109);
  /* border: 2px solid red; */
}

.nav-li {
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.link-text {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  color:rgb(180, 243, 243);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.nav-li:hover {
  background-color: rgb(212, 228, 248, 0.50);
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(109, 109, 109);
}

/* --checkout page */

#checkout-container {
  display: flex;
  justify-content: center;
  /* border: 2px solid red; */
}

#checkout-content {
  display: flex;
  flex-direction: column;
  padding: 3em;
  /* border: 2px solid cyan; */
}

#shopping-cart-title {
	font-family: 'Tenor Sans', sans-serif;
	font-size: 28px;
  font-size: 500;
  /* border: 5px solid pink; */
}

#cart-items {
  /* border: 8px dashed grey; */
}

#item {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  width: 500px;
  border: 1px solid black;
  margin: 1em;
}

#item-details {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  flex-wrap: wrap;
  max-width: 100px;
  min-width: 100px;
  /* border: 2px dashed cyan; */
}

#item-price {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  /* border: 2px dashed cyan; */
}

#checkout-btn {
  display: flex;
  flex-direction: column;
  padding-top: 3em;
  height: fit-content;
  /* border: 2px solid cyan; */
}

#actual-checkout-btn {
  width: fit-content;
  padding: 5px;
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  outline: none;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
  font-family: 'Noto Sans';
}

#actual-checkout-btn:hover {
  box-shadow: #222222 0 0 0 1px, rgba(255, 255, 255, 0.8) 0 0 0 1px;
  transition: box-shadow .2s;
}

#order-summary {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 150px;
  padding: 5px;
  justify-content: space-evenly;
  border: 1.5px solid rgba(189, 195, 199);
}

#summary-price {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid coral; */
}

#summary-delivery {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid coral; */
}

#summary-tax {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid coral; */
}

#paypal {
  border-top: 1px solid rgba(189, 195, 199);
  padding-top: 7px;
}