/* Meyer CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, h1 {
  background-color: #fff;
	display: block;
}

html {
  font-family: 'Work Sans', sans-serif;
  font-weight: 300px;
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

#app-logo {
  width: 500px;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
:root {
  --star-size: 2em;
  --star-color: rgba(173, 173, 173, 0.685);
  --star-background: rgb(97, 113, 142);

  background-color: #fff;
  font-family: 'Work Sans', sans-serif;
  font-weight: 300;
}

.Stars {
  --percent: calc(var(--rating) / 5 * 100%);

  display: inline-block;
  font-size: var(--star-size);
  font-family: Times;
  line-height: 1;
}

.Stars:before {
  content: '★★★★★';
  letter-spacing: 1px;
  background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.on {
  color: #000;
}

.off {
  color: #ccc;
}

.page-nav {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: rgb(109, 109, 109);
}

.nav-li {
  display: inline-flex;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.link-text {
  font-family: 'Work Sans', sans-serif;
  text-transform: uppercase;
  color:rgb(180, 243, 243);
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
}

.nav-li:hover {
  background-color: rgb(212, 228, 248, 0.50);
}

.nav-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgb(109, 109, 109);
}

/* #reviews {
  width: 75%;
} */