.button-link {
  background: none;
  border: none;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1em;
}

.helpful:hover {
  color: #88AED0;
}

.report:hover {
  color: red;
}

.QList {
  width: 100%;
  max-width: 100%;
  max-height: 60vh;
  overflow-y:hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.QList:hover {
  overflow-y:auto;
  overflow-x: hidden;
  overflow: overlay;
  scroll-behavior: smooth;
}

.AList {
  width: 100%;
  max-width: 100%;
  max-height: 30vh;
  overflow-y:hidden;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.AList:hover {
  overflow-y:auto;
  overflow-x: auto;
  overflow: overlay;
  scroll-behavior: smooth;
}

#QA-Question {
  display: grid;
  grid-auto-rows: min-content;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
}

#QA-Answer {
  display: grid;
  grid-auto-rows: min-content;
  justify-content: center;
  font-family: 'Work Sans', sans-serif;
}

.answer-label {
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

#answer-body-label {
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}

.answer-label {
  font-weight: bold;
  font-variant: small-caps;
}

#answer-body-label {
  font-weight: bold;
  font-variant: small-caps;
}

#answer-name-label {
  font-weight: bold;
  font-variant: small-caps;
}

#answer-email-label {
  font-weight: bold;
  font-variant: small-caps;
}

#answer-photos-label {
  font-weight: bold;
  font-variant: small-caps;
}

#answer-warning {
  font-size: 0.8em;
  font-style: italic;
  font-family: 'Work Sans', sans-serif;
}

.answer-img-container {
  grid-area: img;
  display: flex;
  width: fit-content;
  justify-content: space-evenly;
  margin: 1em 0em;
  padding: 0.5em;
  border: solid 2px var(--border-color);
  border-radius: 2em;
}

.answer-img {
  padding-left: 0.65em;
  padding-right: 0.65em;
  width: 65px;
  height: 65px;
}